In [1]:
import matplotlib.pyplot as plt
import matplotlib.table as tbl
import math
import numpy as np
import pandas as pd

import csv
import os

In [4]:
# Load data

folders = ['FDs', 'FDs_ManySize']

# Expects all relevant files to be in this folder
folder = 'FDs'
files = [f for f in os.listdir(folder) if 'Lung' in f]

df_list = []
for f in files:
    df_dict = {}
    with open(os.path.join(folder, f), 'r') as csv_file:
        csv_reader = csv.reader(csv_file)
        csv_data = list(csv_reader)
    
    sc_arr = np.asarray(csv_data[4:]).astype(int)
    sizes, counts = sc_arr[:, 0], sc_arr[:, 1]
    
    df_dict = {
        'SID':                 '_'.join(f.split('_')[:-2]),
        'Lobe':                '',
        'Fractal_Dimension':   float(csv_data[0][1]),
        'Coefficients':        np.array([csv_data[1][1], csv_data[2][1]]).astype(float),
        'Sizes':               sizes,
        'Counts':              counts,
    }
    
    if 'left' in f:
        df_dict['Lobe'] = 'left'
    elif 'right' in f:
        df_dict['Lobe'] = 'right'
    else:
        df_dict['Lobe'] = 'whole'
    
    df_list.append(df_dict)

df1 = pd.DataFrame(df_list)

In [7]:
df1['Fractal_Dimension_2'] = df2['Fractal_Dimension']

In [13]:
df1['Is_Original_Bigger'] = df1['Fractal_Dimension'] > df1['Fractal_Dimension_2']
display(df1[['Fractal_Dimension', 'Fractal_Dimension_2', 'Is_Original_Bigger']])

     Fractal_Dimension  Fractal_Dimension_2  Is_Original_Bigger
0             2.313082             2.347324               False
1             2.420838             2.429785               False
2             2.368625             2.369139               False
3             2.327606             2.328834               False
4             2.311592             2.359908               False
..                 ...                  ...                 ...
664           2.333411             2.288788                True
665           2.352999             2.262375                True
666           2.302641             2.338042               False
667           2.281048             2.370204               False
668           2.264646             2.385935               False

[669 rows x 3 columns]

In [15]:
display(df1['Is_Original_Bigger'].value_counts())

True     350
False    319
Name: Is_Original_Bigger, dtype: int64